[credential "https://ytrack.learn.ynov.com"]
	provider = generic
[user]
	name = ocelyan
	email = celyan.ouali@ynov.com
[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
